*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.fix{
	clear: both;
	overflow: hidden;
}
.section-padding{
	padding: 50px;
}
.wrapper{
	width:720px;
	margin: 0 auto;
}
header{
	overflow: hidden;
    height: 100vh;
}
.vid-bg{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 720px;
	height: 720px;
	min-width: 100%;
	min-height: 100%;
}
.nav-area{
	opacity: 0.75;
	background: beige;
	height: 60px;
	position: absolute;
	width: 100%;
}
.logo img{
	width: 100px;
	height:50px;
	float: left;
}
.logo{
	font-family: Baskerville Old Face;
	margin:5px 5px;
	height: 60px;
	float: left;
	color: rgb(141, 10, 97);
	font-size: 35px;
	text-transform: uppercase;
}
.menu-area{
	float: right;
	list-style: none;
	margin: 20px;
}
.wellcome-text{
	position: absolute;
	top:200%;
	text-align: center;
	left: 20%;
	right: 20%;
	background: rgba(255, 248, 220, 0.411);
}
.wellcome-text h2{
	color: rgb(7, 150, 175);
	font-size: 60px;
	margin: 0;
}
.wellcome-text p{
	color: rgb(99, 38, 3);
	font-size: 20px;
}
.btn{
	background: cyan;
	border: none;
	color: blueviolet;
	padding: 10px 30px;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 25px;
	display: inline block;
	margin: 25px;
}
.container{
	text-align: center;

}
.Design{
 position: relative;
	width: 720px;
	height: 720px;
	min-width: 100%;
	min-height: 100%;
}
.row ul li i{color: brown;
margin: 20px 10px;}
.sara{
	position:absolute;
	top:100%;
	text-align: center;
	left: 20%;
	right: 20%;
	background: rgba(255, 248, 220, 0.411);
}
.row h3{
	font-size: 36px;
	color: brown;
}
.row p{
	font-size: 20px;
	color: rgb(146, 85, 5);
}
.row ul{
list-style: none;
}
.footer-us{
	text-align: center;
	position: absolute;
	top:176%;
	left: 20%;
	right: 20%;
}
/*this is block icon*/
.icon{
	margin: 30px 5px;
	position: absolute;
	top: 50%;
	left: 47%;
transform: translate(-50% ,-50%)
}
.icon ul{
	list-style: none;
	text-align: center;
}
.icon ul li{
	left: 20%;
	top: 20%;
	width: 55px;
	height: 55px;
	margin: 0 5px;
	line-height: 55px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 5px solid  brown;
	float:left;
}
.icon a{
	margin-top:20px ;
	color: brown;
}
.icon ul li.fa{
	margin-top:20px ;
	color: brown;
}
/*facebook*/
.icon ul li:hover:nth-child(1){
	border:5px solid #3b5998;
	box-shadow: 0 0 15px  #3b5998;
	transition: all 0.5s ease;
}
/*@*/
.icon ul li:hover:nth-child(2){
	border:5px solid hsl(221, 9%, 42%);
	box-shadow: 0 0 15px hsl(221, 9%, 42%);
	transition: all 0.5s ease;
}

/*globe-asia*/
.icon ul li:hover:nth-child(3){
	border:5px solid hsl(118, 99%, 35%);
	box-shadow: 0 0 15px hsl(118, 99%, 35%);
	transition: all 0.5s ease;
}
/*mobile alt*/
.icon ul li:hover:nth-child(4){
	border:5px solid hsl(54, 100%, 50%);
	box-shadow: 0 0 15px  hsl(54, 100%, 50%);
	transition: all 0.5s ease;
}
/* map */
.icon ul li:hover:nth-child(5){
	border:5px solid hsl(315, 97%, 36%);
	box-shadow: 0 0 15px hsl(315, 97%, 36%);
	transition: all 0.5s ease;
}
.footer-us h3{
	font-size: 36px;
	margin:90px 90px ;
	text-align: center;
}
.clearflix::after{
	content: "";
	display: block;
height: 0;
clear: both;
visibility: hidden;
}