hr {
    border: none;
    border-top: 1px dashed #A12828;
    color: #FF8000;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 50%;
    margin-bottom: 40px;
}
/*---------------------
  Header
-----------------------*/
.navbar .collapse {
    margin-left: 15%;
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: underline;
}
.navbar .collapse .navbar-nav li {
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
}
.navbar .logo {
    float: left;
    margin-left: 5%;
}
.navbar .collapse .navbar-nav .nav-item a{
    color: #A12828;
    word-spacing: 10px;
}
.navbar .collapse .navbar-nav .nav-item a:hover {
    color: #E17F1D;
}
/*---------------------
  Header- second
-----------------------*/

.header-second {
    background-color: #cccccc;
    background-image: url("../img/editONA1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    text-align: center;
    opacity: 0.6;
}
.header-second h1{
    padding-top: 250px;
    font-weight: bolder;
    font-family: 'Noto Serif', serif;
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
}
.header-second h5{
    font-weight: Regular 400;
    color: #fff;
    font-family: 'Quicksand';
    font-size: 25px;
    font-weight: 600;
    
}
.header-second p{
    font-family: 'Quicksand';
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: 0.5;
    font-size: 20px;
    margin-top: 0px;
    background-attachment: local;
}
.header-second h1 span {
    color: rgba(219, 113, 6, 0.897);
    margin-bottom: 10px;
}
/*---------------------
  END
-----------------------*/
.END-section {
	background: #dfe9f5;;
	padding-top: 50px;
	
}
.END-text {
	text-align: center;
	padding-top: 20px;
}
.END-text ul {
	margin-bottom: 18px;
}
.END-text .Button {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
.END-text ul li {
	list-style: none;
	display: inline-block;
	margin-right: 52px;
}

.END-text ul li:last-child {
	margin-right: 0;
}

.END-text ul li a {
	font-size: 18px;
	color: #A12828;
	display: inline-block;
}
.END-text ul li a:hover {
	color: #ce1f1fd8;
}
.END-text .ft-social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #a3a3ae;
	border: 1px solid #45464e;
	border-radius: 50%;
	margin-right: 15px;
}
.END-text .ft-social a:hover {
    color: #ce1f1fd8;
}
.END-text .ft-social a:last-child {
	margin-right: 0;
}
.copyright {
    margin-top: 30px;
    color: #ce1f1fd8;
}
/*--------------------- ABout page -----------------------*/
/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-section {
    padding: 95px 0 75px;
}

.breadcrumb-text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.breadcrumb-text h2 {
	font-size: 40px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 14px;
}

.breadcrumb-text .bt-option a {
	font-size: 18px;
	color: #6a6b7c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.breadcrumb-text .bt-option a:after {
	position: absolute;
	right: -17px;
	top: 2px;
	content: "ï„…";
	font-family: "FontAwesome";
}

/*---------------------
 Welcome
-----------------------*/
#Welcome {
    margin-top: 50px;
    margin-bottom: 30px;
}
.Welcome .ONE {
    width: 500px;
    height: auto;
}
.Welcome .container h1 {
    color: #F79029;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-bottom: 20px; 
    font-size: 46px;
    font-weight: 600;
}
.Welcome .container p {
    color: #AB5B0C;
    text-align: justify;
}
.Welcome .container h6 {
    font-weight: lighter;
}
.Welcome .container p span {
    font-weight: bolder;
}
/*---------------------
  sponsors 
-----------------------*/
.sponsors {
    background-color: #dfe9f5;
    margin-top: 100px;
    margin-bottom: 30px;
    height: 350px;
}
.sponsors h1 {
    text-align: center;
    color: #E17F1D;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sponsors a img{
    width: 150px;
    height: auto;
}
.sponsors a .one{
   margin-left: 70%;
}
/*---------------------
  Location
-----------------------*/
.Location-section {
    margin-top: 100px;
    margin-bottom: 30px;
}
.Location-section .section-title h2{
    color: #E17F1D;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}
.flag h2{
    color: #E17F1D;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Location-section span {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
} 
